@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
body{
  font-family: 'Outfit', sans-serif;
  background-color: hsl(212, 45%, 89%);
}
.container{
  border-radius: 20px;
  background-color: hsl(0, 0%, 100%);
  width: 35%;
  margin: 15% auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.container img{
  width: 80%;
  border-radius: 10px;
  margin: 5% auto;
}
.container h1{
  font-weight: 700%;
  padding: 0 25px;
  color: hsl(218, 44%, 22%);
  margin-bottom: 0;
}
.container p {
  color: hsl(220, 15%, 55%);
  font-weight: 400;
  font-size: 15px;
  padding: 0 25px;
  padding-bottom: 15px;
}
.attribution{
  margin: 0;
  font-size: 11px;
  text-align: center;
}
.attribution a{
  margin: 0;
  color: #094f94;
  text-decoration: none;
}
